body {
  margin: 10px;
  display: flex;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 50%;
}

button {
  margin-top: 10px;
}

#directory-table {
  margin-top: 15px;
}

table:not(:empty)  {
    border: 1px solid;
}

#directory-table td,
#directory-table th {
  padding-right: 20px;
  text-align: center;
}

#directory-table td:first-child, #directory-table th:first-child {
  width: 38%;
}

#directory-table td:last-child, #directory-table th:last-child {
  width: 58%;
}


#directory-table table {
  width: 100%;
}

#no-result {
  width: 100%;
  text-align: left;
  margin: 40px;
}