h1, p {
  font-family: Lato;
}

body {
  margin: 10px;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .app {
    width: 500px;
  }
}

label {
  display: block;
  font-weight: bold;
  margin: 5px 0;
}

.form {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

input {
  width: 50%;
  height: 30px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 25px;
}

#directory-table {
  margin: 35px 0;
}

table:not(:empty)  {
  border: 1px solid;
}

#directory-table td,
#directory-table th {
  padding: 5px;
  text-align: center;
  width: 33.33%;
}

#directory-table table {
  width: 100%;
}

#no-result {
  width: 100%;
  text-align: center;
  margin: 40px auto;
}

.error {
  color: #ff0000;
  font-size: 14px;
}

.success {
  color: #008000;
  font-size: 14px;
}